/* Custom Style */

/* #logo img {
    width: 100%;
} */

.copyright--line-height-normal {
    line-height: normal;
}

.copyright--padding-small {
    padding: 10px 20px;
}

.copyright__credit {
    display: block;
    padding-top: 5px;
    font-size: 12px !important;
}

.send-button--mod {
    margin-top: 10px !important;
    display: block !important;
    padding: 10px 20px;
}

.read-more--mod {
    display: block;
    margin-top: 15px;
}

.util-line-height-normal {
    line-height: 40px !important;
}

.li-sidebar--mod {
    padding: 20px 0 !important;
    line-height: normal !important;
}

.invalid-feedback {
    font-size: 10px;
    color: #de1818;
}

.is-invalid {
    border: 1px solid #de1818;
}

.captcha-form {
    background: #f0f0f0;
    border: none;
    box-shadow: none !important;
    border-radius: 0;
    padding: 5px;
    height: auto;
}

.captcha-form:focus {
    border: none;
    outline: none;
}

h3.inner-title, h2.sidebar-title {
    font-size: 28px !important;
}

h1.inner-title {
    font-size: 32px !important;
    /* font-weight: 700 !important; */
}

.inner p.summary, .inner header {
    margin-bottom: 30px !important;
    color: #202020 !important;
}

.inner p.summary:hover {
    color: #202020 !important;
}

article.blog .image, article.blog img {
    padding-top: 0;
    filter: grayscale(100);
    transition: all .5s ease-in-out;
}

article.blog .image:hover, article.blog img:hover {
    filter: grayscale(0);
}

.widget {
    padding: 0 !important;
}

.widget ul li {
    border-top: 1px solid #cacaca !important;
}

#hero-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  #hero-wrapper .carousel-wrapper,
  #hero-carousel {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  #hero-carousel img{

      /* left: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      width: auto;
      height: auto; */

    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

  }

  .img-fade{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
  }

  #hero-carousel i {
      position: absolute;
      top: 50%;
    
  }
  
  .carousel-fade .carousel-inner .item{
        opacity: 0;
        transition-property: opacity;
  }

  .carousel-fade .carousel-inner .active{
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .active.right{
    left: 0;
        opacity: 0;
        z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.prev.right{
    opacity: 1;
}

.carousel-fade .carousel-control{
    z-index: 2;
}


@media (min-width: 992px) {
    .hide-on-large {
        display: none;
    }
}